# dependencies
node_modules/
.pnp
.pnp.js

# production build
.next/
out/
*.tsbuildinfo

# env files - NUNCA subir para o repositório
.env
.env.local
.env.production
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
